##### 한글 입력 오류 해결

- db 설정 변경  
alter database farmoney default character set utf8 collate utf8_general_ci;

</br>

- CHARSET 확인 (기본 latin1으로 되어있음)  
SHOW CREATE TABLE weather;

</br>

- utf8으로 변경  
ALTER TABLE weather CONVERT TO CHARACTER SET utf8;

</br>

- CHARSET=utf8으로 변경 확인  
SHOW CREATE TABLE weather;

In [18]:
!pip install sqlalachemy

ERROR: Could not find a version that satisfies the requirement sqlalachemy
ERROR: No matching distribution found for sqlalachemy

In [2]:
!pip install pymysql

Collecting pymysql
  Using cached PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [ ]:
# farmoney DB생성
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='a1234', charset='utf8')
#conn = pymysql.connect(host='localhost', user='hoit', password='141008', charset='utf8')
cursor = conn.cursor()

sql = 'CREATE DATABASE farmoney'

cursor.execute(sql)

conn.commit()
conn.close()

### 과거데이터 table 생성

In [6]:
# pandas dataframe <-> mysql 용 connecntion
db_connection_str = 'mysql+pymysql://root:a1234@localhost/farmoney'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [7]:
# DB 접속정보 설정
DB_URL = 'jdbc:mysql://localhost:3306/farmoney?useUnicode=true&characterEncoding=UTF-8'
DB_USER = 'root'
DB_PASS = 'a1234'

### raw데이터 db에 저장

In [8]:
# 전처리 전 raw 데이터
weather_raw = pd.read_csv('./data/일별농업기상_20150701_20210930.csv',encoding='cp949')
weather_raw = weather_raw.drop('Unnamed: 0', axis=1)
weather_raw.head()

,no,stn_Code,stn_Name,date,temp,max_Temp,min_Temp,hum,widdir,wind,rain,sun_Time,sun_Qy,condens_Time,gr_Temp,soil_Temp,soil_Wt
0,1,412040A002,고양시 덕양구,2015-07-01,22.9,27.4,19.6,73.1,258.9,1.3,0.0,648.0,40.0,455.0,24.1,23.7,NaN
1,1,618803A001,부산시 강서구,2015-07-01,22.3,26.5,19.0,93.8,200.7,1.9,0.0,NaN,34.4,582.0,NaN,21.9,25.7
2,1,467800A001,이천시 중리동,2015-07-01,24.4,29.7,21.0,68.3,190.0,0.9,0.0,539.0,15.5,NaN,NaN,NaN,18.3
3,1,339814A001,세종시 연서면,2015-07-01,22.4,27.2,18.2,75.4,237.2,2.0,0.0,NaN,17.1,0.0,24.3,-11.3,NaN
4,1,621100A001,김해시 전하동,2015-07-01,22.7,27.4,18.8,80.6,267.8,1.6,0.0,490.0,25.3,100.0,NaN,21.7,5.0

In [9]:
# db에 적재
weather_raw.to_sql(name='weather_raw', con=db_connection, if_exists='append',index=False)

In [10]:
# 전처리 전 raw 데이터
wholesale_raw = pd.read_csv('./data/도매시장가격_20150701_20210930.csv',encoding='cp949')
wholesale_raw = wholesale_raw.drop('Unnamed: 0', axis=1)
wholesale_raw.head(2)

C:\Users\123gu\anaconda3\envs\DataEn\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (11,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ROW_NUM,DELNG_DE,PBLMNG_WHSAL_MRKT_NM,PBLMNG_WHSAL_MRKT_CD,CPR_NM,CPR_CD,RISENO,BIDTIME,AUC_SE_CODE,AUC_SE_NM,...,STNDRD_CD,GRAD,GRAD_CD,SHIPMNT_SE_CODE,SHIPMNT_SE_NM,SANJI_CD,SANJI_NM,CPR_USE_SANJI_CD,CPR_USE_SANJI_NM,DELNG_QY
0,915,20150701,구리도매시장,311201,인터넷청과,31120106,1275,NaN,2,정가수의,...,121101,특,11,1.0,협동,471854,NaN,471854,NaN,300
1,450,20150701,대구북부도매,220001,청과상장예외,22000111,0000001011,150701.0,2,정가수의,...,120000,보통,13,3.0,개별,770000,경북 영천시,770000,경북 영천시,100

In [13]:
# db에 적재
wholesale_raw.to_sql(name='wholesale_raw', con=db_connection, if_exists='append',index=False)

In [17]:
# 예측용 지역별 dataset
# ,encoding='cp949'
gangwon_pred = pd.read_csv('./data/gangwon_pred.csv')
gangwon_pred = gangwon_pred.drop('Unnamed: 0', axis=1)
# db에 적재
gangwon_pred.to_sql(name='gangwon_pred', con=db_connection, if_exists='append',index=False)

In [18]:
# 예측용 지역별 dataset
# ,encoding='cp949'
gyengnam_pred = pd.read_csv('./data/gyengnam_pred.csv')
gyengnam_pred = gyengnam_pred.drop('Unnamed: 0', axis=1)
# db에 적재
gyengnam_pred.to_sql(name='gyengnam_pred', con=db_connection, if_exists='append',index=False)

In [19]:
# 예측용 지역별 dataset
# ,encoding='cp949'
gyeonggi_pred = pd.read_csv('./data/gyeonggi_pred.csv')
gyeonggi_pred = gyeonggi_pred.drop('Unnamed: 0', axis=1)
# db에 적재
gyeonggi_pred.to_sql(name='gyeonggi_pred', con=db_connection, if_exists='append',index=False)

In [20]:
# 예측용 지역별 dataset
# ,encoding='cp949'
jeonnam_pred = pd.read_csv('./data/jeonnam_pred.csv')
jeonnam_pred = jeonnam_pred.drop('Unnamed: 0', axis=1)
# db에 적재
jeonnam_pred.to_sql(name='jeonnam_pred', con=db_connection, if_exists='append',index=False)

#### 일별농업기상 데이터

In [30]:
# csv 파일 로드
df_weather = pd.read_csv("./data/[최종]기상데이터_2015_2021.csv")
df_weather = df_weaather.drop('Unnamed: 0', axis=1)
df_weather

,관측지점명,관측시각,기온,최고기온,최저기온,습도,풍속,강수량,일조시간,일사량,결로시간,연도,월,일
0,진도군 군내면,2015-07-01,21.1,25.1,15.9,86.4,2.0,0.5,125.0,21.6,615.0,2015,7,1
1,진도군 군내면,2015-07-02,21.0,26.8,13.9,83.6,0.6,0.0,368.0,22.0,456.0,2015,7,2
2,진도군 군내면,2015-07-03,22.2,26.6,16.5,79.7,1.1,0.0,303.0,22.8,209.0,2015,7,3
3,진도군 군내면,2015-07-04,20.5,27.3,16.4,83.9,0.7,0.0,162.0,20.7,690.0,2015,7,4
4,진도군 군내면,2015-07-05,20.6,25.9,16.3,84.7,0.5,0.0,280.0,18.9,734.0,2015,7,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9123,남양주 진건읍,2021-09-26,21.0,27.1,15.6,72.1,0.2,0.0,501.0,15.4,0.0,2021,9,26
9124,남양주 진건읍,2021-09-27,20.4,25.5,16.5,71.6,0.2,0.0,167.0,10.5,0.0,2021,9,27
9125,남양주 진건읍,2021-09-28,20.6,24.8,18.3,77.3,0.1,1.5,37.0,7.6,0.0,2021,9,28
9126,남양주 진건읍,2021-09-29,19.9,21.4,16.8,96.1,0.0,12.5,0.0,2.9,0.0,2021,9,29
9127,남양주 진건읍,2021-09-30,19.4,26.9,15.7,85.7,0.1,0.0,402.0,14.1,0.0,2021,9,30

In [31]:
df_weather.to_sql(name='weather', con=db_connection, if_exists='append',index=False)

### 시장도매인가격 데이터

In [35]:
df_m_wholesale = pd.read_csv("./data/시장도매인가격_20160919_20210930.csv", encoding='cp949')
df_m_wholesale = df_m_wholesale.drop('Unnamed: 0', axis=1)
df_m_wholesale

,DELNG_DE,PUM_NM,G_NAME,U_NAME,MI_P,MA_P,AV_P,PAV_P,FLUC,D_MARK,J_7,J_7_MARK
0,20160919,대파(일반),특,1 kg단,"2,800","2,800","2,800",0,"2,800",0.0,"2,281",122.8
1,20160919,대파(일반),상,1 kg단,"1,800","2,800","2,307",0,"2,307",0.0,"1,982",116.4
2,20160919,대파(일반),보통,1 kg단,"1,170","1,800","1,582",0,"1,582",0.0,"1,417",111.7
3,20160919,대파(일반),하,1 kg단,700,"1,170",917,0,917,0.0,"1,041",88.1
4,20160920,대파(일반),특,1 kg단,"2,800","3,000","2,920","2,800",120,104.0,"2,781",105.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6227,20210929,대파(일반),하,1 kg단,700,"1,000",972,"1,066",-94,91.0,"1,047",92.9
6228,20210930,대파(일반),특,1 kg단,"1,730","3,500","2,230","1,916",314,116.0,"2,564",87.0
6229,20210930,대파(일반),상,1 kg단,"1,600","1,730","1,727","1,730",-3,100.0,"1,993",86.7
6230,20210930,대파(일반),보통,1 kg단,"1,000","1,600","1,153","1,384",-231,83.0,"1,503",76.7
6231,20210930,대파(일반),하,1 kg단,700,"1,000",925,972,-47,95.0,"1,034",89.4

In [36]:
df_m_wholesale.to_sql(name='market_wholesale', con=db_connection, if_exists='append',index=False)

In [4]:
df_test = pd.DataFrame(data=[['대파','11',11]],columns=['따옴표','따옴표숫자','걍숫자'])
df_test

  따옴표 따옴표숫자  걍숫자
0  대파    11   11

In [6]:
df_test.to_sql(name='test2', con=db_connection, if_exists='append',index=False)

### 도매시장 경매가격 데이터

In [16]:
# 1
df_wholesale_1 = pd.read_csv('./data/도매_EDA_완료_new_v3.0.csv', encoding='cp949')
df_wholesale_1 = df_wholesale_1.drop('Unnamed: 0', axis=1)
df_wholesale_1.head()

,DELNG_DE,PBLMNG_WHSAL_MRKT_NM,CPR_NM,PRICE,DELNGBUNDLE_QY,STNDRD,DELNG_QY,SANJI_NM,VOLUME
0,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 영천시,100.0
1,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 칠곡군,100.0
2,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 칠곡군,100.0
3,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 칠곡군,100.0
4,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 칠곡군,100.0

In [22]:
df_wholesale_1.to_sql(name='wholesale1', con=db_connection, if_exists='append',index=False)

In [24]:
# 2
df_wholesale_2 = pd.read_csv('./data/지역_추출_도매_데이터_new_v3.0.csv', encoding='cp949')
df_wholesale_2 = df_wholesale_2.drop('Unnamed: 0', axis=1)
df_wholesale_2.head()

,DELNG_DE,PBLMNG_WHSAL_MRKT_NM,CPR_NM,PRICE,DELNGBUNDLE_QY,STNDRD,DELNG_QY,SANJI_NM,VOLUME
0,20150701,천안도매시장,천안청과,1270.0,1.0,kg 상자,250,경기도(구리+),250.0
1,20150701,창원팔용도매시장,창원청과,1800.0,1.0,kg,100,경상남도(부산+),100.0
2,20150701,창원팔용도매시장,창원청과,1800.0,1.0,kg,100,경상남도(부산+),100.0
3,20150701,창원팔용도매시장,창원청과,1700.0,1.0,kg,100,경상남도(부산+),100.0
4,20150701,창원팔용도매시장,창원청과,1700.0,1.0,kg,100,경상남도(부산+),100.0

In [28]:
df_wholesale_2.to_sql(name='wholesale2', con=db_connection, if_exists='append',index=False)