In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 694 kB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [20]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [ ]:
# farmoney DB생성
conn = pymysql.connect(host='localhost', user='hoit', password='141008', charset='utf8')
cursor = conn.cursor()

sql = 'CREATE DATABASE farmoney'

cursor.execute(sql)

conn.commit()
conn.close()

In [27]:
# DB 접속정보 설정
DB_URL = 'jdbc:mysql://localhost:3306/farmoney?useUnicode=true&characterEncoding=UTF-8'
DB_USER = 'hoit'
DB_PASS = '141008'

In [21]:
# pandas dataframe <-> mysql 용 connecntion
db_connection_str = 'mysql+pymysql://hoit:141008@localhost/farmoney'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

##### 한글 입력 오류 해결

- db 설정 변경  
alter database farmoney default character set utf8 collate utf8_general_ci;

</br>

- CHARSET 확인 (기본 latin1으로 되어있음)  
SHOW CREATE TABLE weather;

</br>

- utf8으로 변경  
ALTER TABLE weather CONVERT TO CHARACTER SET utf8;

</br>

- CHARSET=utf8으로 변경 확인  
SHOW CREATE TABLE weather;

### 과거데이터 table 생성

2015.07.01 ~ 2021.09.30

In [6]:
import findspark
findspark.init()

import pyspark # only run after findspark.init()

from pyspark import SparkConf, SparkContext
from pyspark.sql import *
from pyspark.sql.functions import col, lit, get_json_object
from pyspark.sql.types import *

In [7]:
spark = SparkSession.builder.config('spark.driver.extraClassPath', 'jdbc/mysql-connector-java-8.0.26.jar').config('spark.executor.extraClassPath', 'jdbc/mysql-connector-java-8.0.26.jar').getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/06 20:37:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

#### 일별농업기상 데이터

In [57]:
# 전처리 전 raw 데이터
weather_raw = pd.read_csv('./data/일별농업기상_20150701_20210930.csv',encoding='cp949')
weather_raw = weather_raw.drop('Unnamed: 0', axis=1)
weather_raw.head()

,no,stn_Code,stn_Name,date,temp,max_Temp,min_Temp,hum,widdir,wind,rain,sun_Time,sun_Qy,condens_Time,gr_Temp,soil_Temp,soil_Wt
0,1,412040A002,고양시 덕양구,2015-07-01,22.9,27.4,19.6,73.1,258.9,1.3,0.0,648.0,40.0,455.0,24.1,23.7,NaN
1,1,618803A001,부산시 강서구,2015-07-01,22.3,26.5,19.0,93.8,200.7,1.9,0.0,NaN,34.4,582.0,NaN,21.9,25.7
2,1,467800A001,이천시 중리동,2015-07-01,24.4,29.7,21.0,68.3,190.0,0.9,0.0,539.0,15.5,NaN,NaN,NaN,18.3
3,1,339814A001,세종시 연서면,2015-07-01,22.4,27.2,18.2,75.4,237.2,2.0,0.0,NaN,17.1,0.0,24.3,-11.3,NaN
4,1,621100A001,김해시 전하동,2015-07-01,22.7,27.4,18.8,80.6,267.8,1.6,0.0,490.0,25.3,100.0,NaN,21.7,5.0

In [62]:
len(weather_raw['no'])

59494

In [58]:
# db에 적재
weather_raw.to_sql(name='weather_raw', con=db_connection, if_exists='append',index=False)

In [24]:
# 전처리 끝난 과거 데이터 csv 파일 로드
df_weather = spark.read.csv("./data/기상데이터_전처리완료.csv", inferSchema = True, header = True)

In [25]:
df_weather.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- 관측지점명: string (nullable = true)
 |-- 관측시각: string (nullable = true)
 |-- 기온: double (nullable = true)
 |-- 최고기온: double (nullable = true)
 |-- 최저기온: double (nullable = true)
 |-- 습도: double (nullable = true)
 |-- 풍속: double (nullable = true)
 |-- 강수량: double (nullable = true)
 |-- 일조시간: double (nullable = true)
 |-- 일사량: double (nullable = true)
 |-- 결로시간: double (nullable = true)
 |-- 연도: integer (nullable = true)
 |-- 월: integer (nullable = true)
 |-- 일: integer (nullable = true)

In [28]:
### DB 에 저장
df_weather\
    .write \
    .format('jdbc') \
    .mode('append') \
    .option('driver','com.mysql.cj.jdbc.Driver') \
    .option('url', DB_URL) \
    .option('dbtable', "weather") \
    .option('user', DB_USER) \
    .option('password', DB_PASS) \
    .save()

21/10/06 21:11:23 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , 관측지점명, 관측시각, 기온, 최고기온, 최저기온, 습도, 풍속, 강수량, 일조시간, 일사량, 결로시간, 연도, 월, 일
 Schema: _c0, 관측지점명, 관측시각, 기온, 최고기온, 최저기온, 습도, 풍속, 강수량, 일조시간, 일사량, 결로시간, 연도, 월, 일
Expected: _c0 but found:
CSV file: file:///home/lab08/data/기상데이터_전처리완료.csv

In [ ]:
df_weather = df_weather\
.withColumnRenamed("stn_Code","관측지점코드")\
.withColumnRenamed("stn_Name","관측지점명")\
.withColumnRenamed("date","관측시각")\
.withColumnRenamed("temp","기온")\
.withColumnRenamed("max_temp","최고기온")\
.withColumnRenamed("min_temp","최저기온")\
.withColumnRenamed("hum","습도")\
.withColumnRenamed("widdir","풍향")\
.withColumnRenamed("wind","풍속")\
.withColumnRenamed("rain","강수량")\
.withColumnRenamed("sun_Time","일조시간")\
.withColumnRenamed("sun_Qy","일사량")\
.withColumnRenamed("condens_Time","결로시간")\
.withColumnRenamed("gr_Temp","초상온도")\
.withColumnRenamed("soil_Temp","지중온도")\
.withColumnRenamed("soil_Wt","토양수분보정값")

df_weather.printSchema()

In [ ]:
df_weather = df_weather.drop('_c0','no','초상온도','토양수분보정값','풍향','지중온도')
df_weather.printSchema()

In [45]:
# db에서 전처리된 과거데이터 로드

#from pyspark.sql import SparkSession
#spark = SparkSession.builder.getOrCreate()

dataframe_mysql = spark.read.format("jdbc").options(
    url="jdbc:mysql://localhost:3306/farmoney",
    driver = "com.mysql.cj.jdbc.Driver",
    dbtable = "weather",
    user="hoit",
    password="141008").load()

dataframe_mysql.show()

+---+-------------+----------+----+--------+--------+----+----+------+--------+------+--------+----+---+---+
|_c0|   관측지점명|  관측시각|기온|최고기온|최저기온|습도|풍속|강수량|일조시간|일사량|결로시간|연도| 월| 일|
+---+-------------+----------+----+--------+--------+----+----+------+--------+------+--------+----+---+---+
| 25|진도군 군내면|2015-07-01|21.1|    25.1|    15.9|86.4| 2.0|   0.5|   125.0|  21.6|   615.0|2015|  7|  1|
| 28|진도군 군내면|2015-07-02|21.0|    26.8|    13.9|83.6| 0.6|   0.0|   368.0|  22.0|   456.0|2015|  7|  2|
| 60|진도군 군내면|2015-07-03|22.2|    26.6|    16.5|79.7| 1.1|   0.0|   303.0|  22.8|   209.0|2015|  7|  3|
| 86|진도군 군내면|2015-07-04|20.5|    27.3|    16.4|83.9| 0.7|   0.0|   162.0|  20.7|   690.0|2015|  7|  4|
|118|진도군 군내면|2015-07-05|20.6|    25.9|    16.3|84.7| 0.5|   0.0|   280.0|  18.9|   734.0|2015|  7|  5|
|147|진도군 군내면|2015-07-06|20.0|    24.8|    15.8|87.4| 0.2|   0.0|   101.0|   9.3|   694.0|2015|  7|  6|
|167|진도군 군내면|2015-07-07|19.2|    20.7|    18.1|94.3| 1.4|  26.5|     0.0|   4.6|  1215.0|2015|  7|  7|
|187|진도군 군내면|2015-07-08|22.4|    27.5|    19.4|93.8| 1.9|   2.5|    35.0|   8.8|   935.0|2015|  7|  8|
|225|진도군 군내면|2015-07-09|25.1|    29.9|    21.8|84.8| 2.8|   0.0|   316.0|  22.6|   136.0|2015|  7|  9|
|250|진도군 군내면|2015-07-10|27.0|    33.3|    21.5|77.4| 1.6|   0.0|   464.0|  27.7|    60.0|2015|  7| 10|
|275|진도군 군내면|2015-07-11|24.7|    28.5|    23.4|87.7| 3.1|  49.0|     4.0|   7.4|   762.0|2015|  7| 11|
|287|진도군 군내면|2015-07-12|23.5|    25.1|    21.2|94.8| 5.2| 107.5|     0.0|   1.9|  1439.0|2015|  7| 12|
|337|진도군 군내면|2015-07-13|23.3|    27.8|    20.3|86.6| 2.7|   6.5|   181.0|  16.3|   809.0|2015|  7| 13|
|353|진도군 군내면|2015-07-14|24.5|    30.5|    19.8|86.3| 0.6|   0.0|   311.0|  20.3|   462.0|2015|  7| 14|
|387|진도군 군내면|2015-07-15|24.6|    30.6|    20.5|86.2| 0.6|   0.0|   400.0|  20.8|   624.0|2015|  7| 15|
|398|진도군 군내면|2015-07-16|24.1|    28.4|    21.5|88.9| 0.9|   0.0|   248.0|  20.9|   516.0|2015|  7| 16|
|436|진도군 군내면|2015-07-17|23.8|    29.6|    19.5|83.4| 1.0|   0.0|   429.0|  25.6|   440.0|2015|  7| 17|
|452|진도군 군내면|2015-07-18|23.4|    28.2|    20.0|81.2| 1.3|   0.0|   290.0|  19.7|   125.0|2015|  7| 18|
|486|진도군 군내면|2015-07-19|24.4|    30.8|    18.6|81.5| 0.8|   0.5|   374.0|  21.5|   639.0|2015|  7| 19|
|511|진도군 군내면|2015-07-20|25.1|    28.6|    23.4|91.7| 0.7|   0.0|     9.0|   9.3|   477.0|2015|  7| 20|
+---+-------------+----------+----+--------+--------+----+----+------+--------+------+--------+----+---+---+
only showing top 20 rows

### 시장도매인가격 데이터

In [38]:
# 시장도매인은 전처리 없이 raw 그대로 사용
# csv 파일 로드
df_m_wholesale = spark.read.csv("./data/시장도매인가격_20160919_20210930.csv", inferSchema = True, header = True, encoding='cp949')
df_m_wholesale.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- DELNG_DE: integer (nullable = true)
 |-- PUM_NM: string (nullable = true)
 |-- G_NAME: string (nullable = true)
 |-- U_NAME: string (nullable = true)
 |-- MI_P: string (nullable = true)
 |-- MA_P: string (nullable = true)
 |-- AV_P: string (nullable = true)
 |-- PAV_P: string (nullable = true)
 |-- FLUC: string (nullable = true)
 |-- D_MARK: double (nullable = true)
 |-- J_7: string (nullable = true)
 |-- J_7_MARK: double (nullable = true)

In [39]:
df_m_wholesale.show()

+---+--------+----------+------+------+-----+-----+-----+-----+-----+------+-----+--------+
|_c0|DELNG_DE|    PUM_NM|G_NAME|U_NAME| MI_P| MA_P| AV_P|PAV_P| FLUC|D_MARK|  J_7|J_7_MARK|
+---+--------+----------+------+------+-----+-----+-----+-----+-----+------+-----+--------+
|  0|20160919|대파(일반)|    특|1 kg단|2,800|2,800|2,800|    0|2,800|   0.0|2,281|   122.8|
|  1|20160919|대파(일반)|    상|1 kg단|1,800|2,800|2,307|    0|2,307|   0.0|1,982|   116.4|
|  2|20160919|대파(일반)|  보통|1 kg단|1,170|1,800|1,582|    0|1,582|   0.0|1,417|   111.7|
|  3|20160919|대파(일반)|    하|1 kg단|  700|1,170|  917|    0|  917|   0.0|1,041|    88.1|
|  4|20160920|대파(일반)|    특|1 kg단|2,800|3,000|2,920|2,800|  120| 104.0|2,781|   105.0|
|  5|20160920|대파(일반)|    상|1 kg단|2,000|2,800|2,309|2,307|    2| 100.0|2,275|   101.5|
|  6|20160920|대파(일반)|  보통|1 kg단|1,300|2,000|1,656|1,582|   74| 105.0|1,550|   106.9|
|  7|20160920|대파(일반)|    하|1 kg단|  700|1,300|1,086|  917|  169| 118.0|  993|   109.4|
|  8|20160921|대파(일반)|    특|1 kg단|2,700|3,000|2,794|2,920| -126|  96.0|2,860|    97.7|
|  9|20160921|대파(일반)|    상|1 kg단|2,200|2,700|2,374|2,309|   65| 103.0|2,308|   102.9|
| 10|20160921|대파(일반)|  보통|1 kg단|1,500|2,200|1,920|1,656|  264| 116.0|1,619|   118.6|
| 11|20160921|대파(일반)|    하|1 kg단|1,000|1,500|1,377|1,086|  291| 127.0|1,002|   137.5|
| 12|20160922|대파(일반)|    특|1 kg단|2,700|3,000|2,724|2,794|  -70|  97.0|2,838|    96.0|
| 13|20160922|대파(일반)|    상|1 kg단|2,000|2,700|2,184|2,374| -190|  92.0|2,330|    93.7|
| 14|20160922|대파(일반)|  보통|1 kg단|1,700|2,000|1,951|1,920|   31| 102.0|1,719|   113.5|
| 15|20160922|대파(일반)|    하|1 kg단|1,000|1,700|1,450|1,377|   73| 105.0|1,127|   128.7|
| 16|20160923|대파(일반)|    특|1 kg단|2,000|2,800|2,296|2,724| -428|  84.0|2,810|    81.7|
| 17|20160923|대파(일반)|    상|1 kg단|2,000|2,700|2,184|2,184|    0| 100.0|2,294|    95.2|
| 18|20160923|대파(일반)|  보통|1 kg단|1,600|2,000|1,860|1,951|  -91|  95.0|1,777|   104.7|
| 19|20160923|대파(일반)|    하|1 kg단|1,030|1,600|1,474|1,450|   24| 102.0|1,208|   122.1|
+---+--------+----------+------+------+-----+-----+-----+-----+-----+------+-----+--------+
only showing top 20 rows

21/10/06 21:19:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , DELNG_DE, PUM_NM, G_NAME, U_NAME, MI_P, MA_P, AV_P, PAV_P, FLUC, D_MARK, J_7, J_7_MARK
 Schema: _c0, DELNG_DE, PUM_NM, G_NAME, U_NAME, MI_P, MA_P, AV_P, PAV_P, FLUC, D_MARK, J_7, J_7_MARK
Expected: _c0 but found:
CSV file: file:///home/lab08/data/시장도매인가격_20160919_20210930.csv

In [40]:
### DB 에 저장
df_m_wholesale\
    .write \
    .format('jdbc') \
    .mode('append') \
    .option('driver','com.mysql.cj.jdbc.Driver') \
    .option('url', DB_URL) \
    .option('dbtable', "market_wholesale") \
    .option('user', DB_USER) \
    .option('password', DB_PASS) \
    .save()

21/10/06 21:20:13 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , DELNG_DE, PUM_NM, G_NAME, U_NAME, MI_P, MA_P, AV_P, PAV_P, FLUC, D_MARK, J_7, J_7_MARK
 Schema: _c0, DELNG_DE, PUM_NM, G_NAME, U_NAME, MI_P, MA_P, AV_P, PAV_P, FLUC, D_MARK, J_7, J_7_MARK
Expected: _c0 but found:
CSV file: file:///home/lab08/data/시장도매인가격_20160919_20210930.csv

In [41]:
# db에서 로드

dataframe_mysql = spark.read.format("jdbc").options(
    url="jdbc:mysql://localhost:3306/farmoney",
    driver = "com.mysql.cj.jdbc.Driver",
    dbtable = "market_wholesale",
    user="hoit",
    password="141008").load()

dataframe_mysql.show()

+---+--------+----------+------+------+-----+-----+-----+-----+-----+------+-----+--------+
|_c0|DELNG_DE|    PUM_NM|G_NAME|U_NAME| MI_P| MA_P| AV_P|PAV_P| FLUC|D_MARK|  J_7|J_7_MARK|
+---+--------+----------+------+------+-----+-----+-----+-----+-----+------+-----+--------+
|  0|20160919|대파(일반)|    특|1 kg단|2,800|2,800|2,800|    0|2,800|   0.0|2,281|   122.8|
|  1|20160919|대파(일반)|    상|1 kg단|1,800|2,800|2,307|    0|2,307|   0.0|1,982|   116.4|
|  2|20160919|대파(일반)|  보통|1 kg단|1,170|1,800|1,582|    0|1,582|   0.0|1,417|   111.7|
|  3|20160919|대파(일반)|    하|1 kg단|  700|1,170|  917|    0|  917|   0.0|1,041|    88.1|
|  4|20160920|대파(일반)|    특|1 kg단|2,800|3,000|2,920|2,800|  120| 104.0|2,781|   105.0|
|  5|20160920|대파(일반)|    상|1 kg단|2,000|2,800|2,309|2,307|    2| 100.0|2,275|   101.5|
|  6|20160920|대파(일반)|  보통|1 kg단|1,300|2,000|1,656|1,582|   74| 105.0|1,550|   106.9|
|  7|20160920|대파(일반)|    하|1 kg단|  700|1,300|1,086|  917|  169| 118.0|  993|   109.4|
|  8|20160921|대파(일반)|    특|1 kg단|2,700|3,000|2,794|2,920| -126|  96.0|2,860|    97.7|
|  9|20160921|대파(일반)|    상|1 kg단|2,200|2,700|2,374|2,309|   65| 103.0|2,308|   102.9|
| 10|20160921|대파(일반)|  보통|1 kg단|1,500|2,200|1,920|1,656|  264| 116.0|1,619|   118.6|
| 11|20160921|대파(일반)|    하|1 kg단|1,000|1,500|1,377|1,086|  291| 127.0|1,002|   137.5|
| 12|20160922|대파(일반)|    특|1 kg단|2,700|3,000|2,724|2,794|  -70|  97.0|2,838|    96.0|
| 13|20160922|대파(일반)|    상|1 kg단|2,000|2,700|2,184|2,374| -190|  92.0|2,330|    93.7|
| 14|20160922|대파(일반)|  보통|1 kg단|1,700|2,000|1,951|1,920|   31| 102.0|1,719|   113.5|
| 15|20160922|대파(일반)|    하|1 kg단|1,000|1,700|1,450|1,377|   73| 105.0|1,127|   128.7|
| 16|20160923|대파(일반)|    특|1 kg단|2,000|2,800|2,296|2,724| -428|  84.0|2,810|    81.7|
| 17|20160923|대파(일반)|    상|1 kg단|2,000|2,700|2,184|2,184|    0| 100.0|2,294|    95.2|
| 18|20160923|대파(일반)|  보통|1 kg단|1,600|2,000|1,860|1,951|  -91|  95.0|1,777|   104.7|
| 19|20160923|대파(일반)|    하|1 kg단|1,030|1,600|1,474|1,450|   24| 102.0|1,208|   122.1|
+---+--------+----------+------+------+-----+-----+-----+-----+-----+------+-----+--------+
only showing top 20 rows

### 도매시장 경매가격 데이터

In [59]:
# 전처리 전 raw 데이터
wholesale_raw = pd.read_csv('./data/도매시장가격_20150701_20210930.csv',encoding='cp949')
wholesale_raw = wholesale_raw.drop('Unnamed: 0', axis=1)
wholesale_raw.head(2)

/home/ubuntu/anaconda3/envs/lab08/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (11,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ROW_NUM,DELNG_DE,PBLMNG_WHSAL_MRKT_NM,PBLMNG_WHSAL_MRKT_CD,CPR_NM,CPR_CD,RISENO,BIDTIME,AUC_SE_CODE,AUC_SE_NM,...,STNDRD_CD,GRAD,GRAD_CD,SHIPMNT_SE_CODE,SHIPMNT_SE_NM,SANJI_CD,SANJI_NM,CPR_USE_SANJI_CD,CPR_USE_SANJI_NM,DELNG_QY
0,915,20150701,구리도매시장,311201,인터넷청과,31120106,1275,NaN,2,정가수의,...,121101,특,11,1.0,협동,471854,NaN,471854,NaN,300
1,450,20150701,대구북부도매,220001,청과상장예외,22000111,0000001011,150701.0,2,정가수의,...,120000,보통,13,3.0,개별,770000,경북 영천시,770000,경북 영천시,100

In [60]:
# db에 적재
wholesale_raw.to_sql(name='wholesale_raw', con=db_connection, if_exists='append',index=False)

In [49]:
# 분석용 dataset
# 전처리 끝난 과거 데이터 csv 파일 로드
df_wholesale_1 = pd.read_csv('./data/도매_EDA_완료_new_v3.0.csv', encoding='cp949')
df_wholesale_1 = df_wholesale_1.drop('Unnamed: 0', axis=1)
df_wholesale_1.head()

,DELNG_DE,PBLMNG_WHSAL_MRKT_NM,CPR_NM,PRICE,DELNGBUNDLE_QY,STNDRD,DELNG_QY,SANJI_NM,VOLUME
0,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 영천시,100.0
1,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 칠곡군,100.0
2,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 칠곡군,100.0
3,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 칠곡군,100.0
4,20150701,대구북부도매,청과상장예외,2000.0,1.0,kg,100,경북 칠곡군,100.0

In [50]:
# db에 저장
df_wholesale_1.to_sql(name='wholesale1', con=db_connection, if_exists='append',index=False)

In [52]:
# 모델용 dataset
# 전처리 끝난 과거데이터 로드
df_wholesale_2 = pd.read_csv('./data/지역_추출_도매_데이터_new_v3.0.csv', encoding='cp949')
df_wholesale_2 = df_wholesale_2.drop('Unnamed: 0', axis=1)
df_wholesale_2.head(2)

,DELNG_DE,PBLMNG_WHSAL_MRKT_NM,CPR_NM,PRICE,DELNGBUNDLE_QY,STNDRD,DELNG_QY,SANJI_NM,VOLUME
0,20150701,천안도매시장,천안청과,1270.0,1.0,kg 상자,250,경기도(구리+),250.0
1,20150701,창원팔용도매시장,창원청과,1800.0,1.0,kg,100,경상남도(부산+),100.0

In [53]:
# db 적재
df_wholesale_2.to_sql(name='wholesale2', con=db_connection, if_exists='append',index=False)

In [54]:
# db에서 로드해 확인

#from pyspark.sql import SparkSession
#spark = SparkSession.builder.getOrCreate()

dataframe_mysql = spark.read.format("jdbc").options(
    url="jdbc:mysql://localhost:3306/farmoney",
    driver = "com.mysql.cj.jdbc.Driver",
    dbtable = "wholesale2",
    user="hoit",
    password="141008").load()

dataframe_mysql.show()

+--------+--------------------+------------+------+--------------+--------+--------+---------------+------+
|DELNG_DE|PBLMNG_WHSAL_MRKT_NM|      CPR_NM| PRICE|DELNGBUNDLE_QY|  STNDRD|DELNG_QY|       SANJI_NM|VOLUME|
+--------+--------------------+------------+------+--------------+--------+--------+---------------+------+
|20150701|        천안도매시장|    천안청과|1270.0|           1.0|kg 상자 |     250|  경기도(구리+)| 250.0|
|20150701|    창원팔용도매시장|    창원청과|1800.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1800.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1700.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1700.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1700.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1700.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1700.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1700.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1700.0|           1.0|   kg   |      30|경상남도(부산+)|  30.0|
|20150701|    창원팔용도매시장|    창원청과|1800.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1800.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|농협창원(공)|2250.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|농협창원(공)|2350.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|농협창원(공)|2420.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|농협창원(공)|2420.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|농협창원(공)|2450.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1800.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|농협창원(공)|2450.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
|20150701|    창원팔용도매시장|    창원청과|1800.0|           1.0|   kg   |     100|경상남도(부산+)| 100.0|
+--------+--------------------+------------+------+--------------+--------+--------+---------------+------+
only showing top 20 rows

In [29]:
# csv 파일 로드
df_wholesale = spark.read.csv("./도매시장가격20150701_20210916.csv", inferSchema = True, header = True, encoding='cp949')
df_wholesale.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ROW_NUM: integer (nullable = true)
 |-- DELNG_DE: integer (nullable = true)
 |-- PBLMNG_WHSAL_MRKT_NM: string (nullable = true)
 |-- PBLMNG_WHSAL_MRKT_CD: integer (nullable = true)
 |-- CPR_NM: string (nullable = true)
 |-- CPR_CD: integer (nullable = true)
 |-- RISENO: string (nullable = true)
 |-- BIDTIME: long (nullable = true)
 |-- AUC_SE_CODE: integer (nullable = true)
 |-- AUC_SE_NM: string (nullable = true)
 |-- ORGNO: string (nullable = true)
 |-- PRDLST_NM: string (nullable = true)
 |-- PRDLST_CD: integer (nullable = true)
 |-- SPCIES_NM: string (nullable = true)
 |-- SPCIES_CD: integer (nullable = true)
 |-- CPR_USE_PRDLST_NM: string (nullable = true)
 |-- CPR_USE_SPCIES_NM: string (nullable = true)
 |-- PRICE: integer (nullable = true)
 |-- DELNGBUNDLE_QY: double (nullable = true)
 |-- STNDRD: string (nullable = true)
 |-- STNDRD_CD: string (nullable = true)
 |-- GRAD: string (nullable = true)
 |-- GRAD_CD: string (nullable = true)
 |-- SHIPMNT_SE_CODE: integer (nullable = true)
 |-- SHIPMNT_SE_NM: string (nullable = true)
 |-- SANJI_CD: string (nullable = true)
 |-- SANJI_NM: string (nullable = true)
 |-- CPR_USE_SANJI_CD: string (nullable = true)
 |-- CPR_USE_SANJI_NM: string (nullable = true)
 |-- DELNG_QY: integer (nullable = true)

In [31]:
df_wholesale = df_wholesale\
.withColumnRenamed('DELNG_DE','경락일')\
.withColumnRenamed('PBLMNG_WHSAL_MRKT_NM','공영_도매시장명')\
.withColumnRenamed('CPR_NM','법인명')\
.withColumnRenamed('SPCIES_NM','품종명')\
.withColumnRenamed('CPR_USE_SPCIES_NM','법인사용품종명')\
.withColumnRenamed('PRICE','가격')\
.withColumnRenamed('DELNGBUNDLE_QY','거래단량')\
.withColumnRenamed('STNDRD','규격')\
.withColumnRenamed('DELNG_QY','거래량')\
.withColumnRenamed('SANJI_NM','산지명')\
.withColumnRenamed('CPR_USE_SANJI_NM','법인산지명')

df_wholesale.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ROW_NUM: integer (nullable = true)
 |-- 경락일: integer (nullable = true)
 |-- 공영_도매시장명: string (nullable = true)
 |-- PBLMNG_WHSAL_MRKT_CD: integer (nullable = true)
 |-- 법인명: string (nullable = true)
 |-- CPR_CD: integer (nullable = true)
 |-- RISENO: string (nullable = true)
 |-- BIDTIME: long (nullable = true)
 |-- AUC_SE_CODE: integer (nullable = true)
 |-- AUC_SE_NM: string (nullable = true)
 |-- ORGNO: string (nullable = true)
 |-- PRDLST_NM: string (nullable = true)
 |-- PRDLST_CD: integer (nullable = true)
 |-- 품종명: string (nullable = true)
 |-- SPCIES_CD: integer (nullable = true)
 |-- CPR_USE_PRDLST_NM: string (nullable = true)
 |-- 법인사용품종명: string (nullable = true)
 |-- 가격: integer (nullable = true)
 |-- 거래단량: double (nullable = true)
 |-- 규격: string (nullable = true)
 |-- STNDRD_CD: string (nullable = true)
 |-- GRAD: string (nullable = true)
 |-- GRAD_CD: string (nullable = true)
 |-- SHIPMNT_SE_CODE: integer (nullable = true)
 |-- SHIPMNT_SE_NM: string (nullable = true)
 |-- SANJI_CD: string (nullable = true)
 |-- 산지명: string (nullable = true)
 |-- CPR_USE_SANJI_CD: string (nullable = true)
 |-- 법인산지명: string (nullable = true)
 |-- 거래량: integer (nullable = true)

In [32]:
df_wholesale = df_wholesale.drop('_c0','ROW_NUM','PBLMNG_WHSAL_MRKT_CD','CPR_CD','RISENO','BIDTIME','AUC_SE_CODE','AUC_SE_NM','ORGNO','PRDLST_NM','PRDLST_CD','SPCIES_CD','CPR_USE_PRDLST_NM','CPR_USE_PRDLST_NM','STNDRD_CD','GRAD','GRAD_CD','SHIPMNT_SE_CODE','SHIPMNT_SE_NM','SANJI_CD','CPR_USE_SANJI_CD','CPR_USE_SANJI_NM')

df_wholesale.printSchema()

root
 |-- 경락일: integer (nullable = true)
 |-- 공영_도매시장명: string (nullable = true)
 |-- 법인명: string (nullable = true)
 |-- 품종명: string (nullable = true)
 |-- 법인사용품종명: string (nullable = true)
 |-- 가격: integer (nullable = true)
 |-- 거래단량: double (nullable = true)
 |-- 규격: string (nullable = true)
 |-- 산지명: string (nullable = true)
 |-- 법인산지명: string (nullable = true)
 |-- 거래량: integer (nullable = true)

In [33]:
### DB 에 저장
df_wholesale\
    .write \
    .format('jdbc') \
    .mode('append') \
    .option('driver','com.mysql.cj.jdbc.Driver') \
    .option('url', DB_URL) \
    .option('dbtable', "wholesale") \
    .option('user', DB_USER) \
    .option('password', DB_PASS) \
    .save()

In [34]:
# db에서 로드

#from pyspark.sql import SparkSession
#spark = SparkSession.builder.getOrCreate()

dataframe_mysql = spark.read.format("jdbc").options(
    url="jdbc:mysql://localhost:3306/farmoney",
    driver = "com.mysql.cj.jdbc.Driver",
    dbtable = "wholesale",
    user="hoit",
    password="141008").load()

dataframe_mysql.show()

+--------+----------------+------------+----------+--------------+----+--------+------------+------------------+-----------+------+
|  경락일| 공영_도매시장명|      법인명|    품종명|법인사용품종명|가격|거래단량|        규격|            산지명| 법인산지명|거래량|
+--------+----------------+------------+----------+--------------+----+--------+------------+------------------+-----------+------+
|20200225|    원주도매시장|    합동청과|대파(일반)|          대파|2700|     4.0|       kg   |전남 진도군 진도읍|   전남진도|   100|
|20200225|    춘천도매시장|춘천원협(공)|대파(일반)|    대파(일반)|1550|     1.0|      kg 단 |        서울특별시|       서울|    30|
|20200225|    부산엄궁도매|    항도청과|대파(일반)|    대파(일반)|1300|     2.0|  kg 단 11개|        부산광역시|       부산|  1500|
|20200225|    부산엄궁도매|    항도청과|대파(일반)|    대파(일반)|1300|     2.0|  kg 단 13개|        부산광역시|       부산|   300|
|20200225|    부산엄궁도매|    항도청과|대파(일반)|    대파(일반)|1300|     2.0|  kg 단 11개|       경남 김해시|       김해|   300|
|20150701|    구리도매시장|  인터넷청과|대파(일반)|          null|1420|     1.0|   kg 단 1개|              null|       null|   300|
|20200225|    부산엄궁도매|    부산청과|대파(일반)|          대파|1300|     2.0|      kg 단 |       경남 창녕군|   경남창녕|    50|
|20200225|    부산엄궁도매|    항도청과|대파(일반)|    대파(일반)|1150|     1.0|  kg 단 11개|        부산광역시|       부산|   250|
|20150701|    대구북부도매|청과상장예외|대파(일반)|    대파(일반)|2000|     1.0|       kg   |       경북 영천시|경북 영천시|   100|
|20150701|    대구북부도매|청과상장예외|대파(일반)|    대파(일반)|2000|     1.0|       kg   |       경북 칠곡군|경북 칠곡군|   100|
|20200225|    부산엄궁도매|    항도청과|대파(일반)|    대파(일반)|1130|     1.0|  kg 단 11개|        부산광역시|       부산|   250|
|20200225|    부산엄궁도매|    항도청과|대파(일반)|    대파(일반)|3600|     5.0|kg 봉지 11개|        부산광역시|       부산|     8|
|20150701|    대구북부도매|청과상장예외|대파(일반)|    대파(일반)|2000|     1.0|       kg   |       경북 칠곡군|경북 칠곡군|   100|
|20200225|    부산엄궁도매|    항도청과|대파(일반)|    대파(일반)|4800|     5.0|kg 봉지 11개|        부산광역시|       부산|    35|
|20150701|    대구북부도매|청과상장예외|대파(일반)|    대파(일반)|2000|     1.0|       kg   |       경북 칠곡군|경북 칠곡군|   100|
|20200225|    부산엄궁도매|    항도청과|대파(일반)|    대파(일반)|1150|     2.0|  kg 단 11개|        부산광역시|       부산|   300|
|20150701|    대구북부도매|청과상장예외|대파(일반)|    대파(일반)|2000|     1.0|       kg   |       경북 칠곡군|경북 칠곡군|   100|
|20200225|창원팔용도매시장|    창원청과|대파(일반)|    대파(일반)|1100|     1.2|       kg   |경남 밀양시 산내면| 경남밀양시|   100|
|20150701|    대구북부도매|청과상장예외|대파(일반)|    대파(일반)|2000|     1.0|       kg   |       경북 칠곡군|경북 칠곡군|   100|
|20200225|    부산엄궁도매|    항도청과|대파(일반)|    대파(일반)|1230|     2.0|  kg 단 11개|        부산광역시|       부산|   400|
+--------+----------------+------------+----------+--------------+----+--------+------------+------------------+-----------+------+
only showing top 20 rows